<div class="container-body ml-1 mt-5 ">
  <div class="content-body grid w-full">
    <div class="first lg:col-3 flex align-items-center ; justify-content-start">
      <div class="">
        <label for="project" class="mr-2 sub-heading">Project</label>
      </div>
      <p-dropdown class="p-fluid w-8 drop" optionLabel="name"></p-dropdown>
    </div>
    <div class="second lg:col-3 flex align-items-center ; justify-content-start">
      <div class="">
        <label for="project" class="mr-2 sub-heading">User</label>
      </div>
      <p-dropdown class="p-fluid w-8 drop" optionLabel="name"></p-dropdown>
    </div>
    <div class="third lg:col-3 flex align-items-center ; justify-content-start">
      <div class="">
        <label for="project" class="mr-2 sub-heading">Time Series</label>
      </div>
      <p-dropdown class="p-fluid w-8 drop" optionLabel="name"></p-dropdown>
    </div>
  </div>
</div>
