* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
}
h3 {
  font-weight: 300;
}
h1 {
  font-size: 30px;
  font-weight: 400;
}
.sub-heading {
  font-size: 14px;
}
